@charset "utf-8";

@media (max-width: 768px) {
  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 2.5rem;
  }

  h3 {
    font-size: 2rem;
  }

  p {
    font-size: 1.5rem;
  }

  .grid-wrapper {
    grid-template-columns: 1fr;
    grid-template-areas:
      'profile'
      'hobby'
      'q-and-a'
      'album'
      'sns'
    ;
  }

  .grid-album {
    gap: 40px;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: ;
  }
}
