@charset "utf-8";

* {
  font-family: "Kiwi Maru", "Winky Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

body {
  background-color: #fffffa;
}

img {
  width: 500px;
}

a {
  text-decoration: none;
  color: #a2b17f;
  font-size: 2rem;
  font-family: "Kiwi Maru", "Winky Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5;
}

a:hover {
  text-decoration: underline;
}

ul>li {
  list-style-type: none;
  padding: 10px 20px;
}

li>a {
  color: #fffffa;
}

h1,
h2,
h3 {
  width: auto;
  color: #f4b3c2;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 500;
  font-family: "Kiwi Maru", "Winky Sans", sans-serif;
}

h1 {
  -webkit-text-stroke: 1px #fffffa;
  font-size: 4rem;
}

h2 {
  font-size: 3rem;
  margin-bottom: 10px;
}

h3 {
  font-size: 2.5rem;
}

p {
  color: #a2b17f;
  font-size: 2rem;
  font-family: "Kiwi Maru", "Winky Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5;
}

span {
  display: inline-block;
}

fieldset {
  padding: 20px;
  border-radius: 10px;
  border: 2px solid #bccd94;
}

legend {
  font-size: 1.75rem;
  color: #f4b3c2;
}

label {
  font-size: 1.5rem;
  color: #a2b17f;
}

input {
  font-size: 1.5rem;
  padding: 5px;
  border-radius: 5px;
  border: 2px solid #a2b17f;
}

button {
  margin-top: 20px;
  padding: 5px 20px;
  font-size: 1.5rem;
  background-color: #bccd94;
  color: #fffffa;
  border: #bccd94 solid 2px;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s;
}

button:hover {
  text-decoration: underline;
  background-color: #fffffa;
  color: #bccd94;
}

select {
  font-size: 1.5rem;
  padding: 5px;
  border-radius: 5px;
  border: 2px solid #bccd94;
}

textarea {
  font-size: 1.5rem;
  padding: 5px;
  border-radius: 5px;
  border: 2px solid #bccd94;
}

main {
  max-width: 80%;
  margin: 160px auto 0 auto;
}

.grid-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  grid-template-areas:
    'profile profile'
    'hobby q-and-a'
    'album album'
    'sns sns'
  ;
}

section {
  padding: 20px;
}

header {
  background-color: #bccd94;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}

.header-container {
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
}

nav {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.logo-img img {
  width: 100px;
  margin: 0 20px;
}

.logo-title:hover {
  text-decoration: none;
}

.profile {
  grid-area: profile;
}

.hobby {
  grid-area: hobby;
}

.q-and-a {
  grid-area: q-and-a;
}

.album {
  grid-area: album;
}

.grid-album {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 60px;
  grid-template-areas:
    'dog bird cat'
    'fox hamster lesserpanda'
    'okojo owl panda';
  width: 90%;
  margin: 0 auto;
}


.img-album {
  width: 100%;
  aspect-ratio: 1/1;
  overflow: hidden;
  border-radius: 25px;
  box-shadow: 5px 5px 25px -5px #B5B5B5;
}

.img-album:hover {
  position: absolute;
  width: 110%;
  top: -5%;
  left: -5%;
}

.img-hover {
  width: 100%;
  position: relative;
}

.img-album img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.dog {
  grid-template-areas: dog;
}

.bird {
  grid-template-areas: bird;
}

.cat {
  grid-template-areas: cat;
}

.fox {
  grid-template-areas: fox;
}

.hamster {
  grid-template-areas: hamster;
}

.lesserpanda {
  grid-template-areas: lesserpanda;
}

.okojo {
  grid-template-areas: okojo;
}

.owl {
  grid-template-areas: owl;
}

.panda {
  grid-template-areas: panda;
}


.sns {
  grid-area: sns;
}



footer {
  background-color: #bccd94;
  text-align: right;
  padding: 10px 20px;
  margin-top: 100px;
}

footer p {
  color: #fffffa;
}
